* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 37, 49);
    font-family: Arial, sans-serif;
}

body {
}

img {
    width: 10rem;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

/*#header {*/
/*    position: fixed;*/
/*}*/

/*.wrap {*/
/*    width: 100%;*/
/*    position: fixed;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    background-color: black;*/
/*}*/

/* 토글 */
.wrap {
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}

.toggle-button {
    height: 20px;
    width: 25px;
    margin-right: auto;
    position: relative;
}

.toggle-list {
    background-color: rgb(34, 37, 49);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    top: 0;
    left: -250px;
    transition: .3s ease;
    color: #dddddd;
}

.toggle-list.active {
    left: 0;
}

.toggle-list ul {
    list-style: none;
    padding: 0;
    margin: 80px 0 0 0;
}

.toggle-list li {
    display: flex;
    align-items: center;
    padding: 16px 48px;
    cursor: pointer;
    transition: background 0.2s;
}

.toggle-list li i{
    margin-right: 12px;
    transition: background 0.2s;
}

.toggle-list li span{
    transition: background 0.2s;
}

.toggle-list li:hover, .toggle-list li:hover i, li:hover span {
    background-color: #aaaaaa;
}

.toggle-list hr {
    border: none;
    border-top: 1px solid #aaaaaa;
    margin: 8px 0;
}

.wrap > div > a {
    position: absolute;
    top: -6px;
    left: 50px;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    top: 0;
}

.toggle-button .menu-bar-middle {
    top: 50%;
    transform: translateY(-50%);
}

.toggle-button .menu-bar-bottom {
    bottom: 0;
}

.toggle-button.active .menu-bar-top {
    transform: rotate(45deg);
    top: 50%;
}

.toggle-button.active .menu-bar-middle {
    transform: translate(-230px);
    opacity: 0;
    transition: all .1s ease-in;
}

.toggle-button.active .menu-bar-bottom {
    transform: rotate(-45deg);
    top: 50%;
}

/* 검색창 */
.container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.search-bar {
    width: 400px;
    height: 40px;
    border: 1px solid #5D5D5D;
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: 400px;
    top: 6px;
    flex-grow: 1; /* 남는 공간 차지 */
}

.search-bar input {
    width: 85%;
    height: 30px;
    margin: 4px 0 0 20px;
    background-color: rgb(34, 37, 49);
    border: none;
    color: white;
    outline: none;
}

.search-button {
    width: 70px;
    height: 40px;
    border: 1px solid #5D5D5D;
    border-radius: 0 20px 20px 0;
    background-color: #333333;
    position: absolute;
    /*left: 63%;*/
    left: 799px;
    top: 6px;
    margin-left: -1px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button  a  img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 18px;
    top: 5px;
    background-color: #333333;
}

/* 보이스 검색 버튼 */
.search-voice {
    position: absolute;
    background-color: #333333;
    border: none;
    border-radius: 50%;
    padding: 8px 8px 8px 10px;
    left: 880px;
    top: 4px;
}

.search-voice a {
    background-color: #333333;
}

.search-voice a i {
    width: 30px;
    height: 25px;
    color: white;
    font-size: 1.3rem;
    padding: 4px 0 0 6px;
    background-color: #333333;
}

.search-voice:hover, .search-voice:hover a, .search-voice:hover a i{
    background-color: #5D5D5D;
}