* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
}

img {
    width: 10rem;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

/* 토글 */
.header {
    width: 100%;
    padding: 1rem;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*display: flex;*/
    z-index: 999; /* 화면에 보여질 때 가장 위에 있게 */
    background-color: #121212;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
}

.logo-button {
    position: absolute;
    top: 10px;
    left: 15px;
}

.toggle-button {
    position: fixed;
    display: none;
    height: 20px;
    width: 25px;
    left: 30px;
    top: 25px;
}

.toggle-list {
    background-color: #121212;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    top: 0;
    left: 0;
    transition: all .3s ease;
}

/*.toggle-list.active {*/
/*    left: 0;*/
/*}*/

.toggle-list ul {
    list-style: none;
    padding: 0;
    margin: 80px 0 0 0;
}

.toggle-list a {
    transition: background 0.2s;
    text-decoration: none;
    color: #dddddd;
}

.toggle-list li {
    display: flex;
    align-items: center;
    padding: 16px 48px;
    cursor: pointer;
    transition: background 0.2s;
}

.toggle-list li i{
    margin-right: 12px;
    transition: background 0.2s;
}

.toggle-list li span{
    transition: background 0.2s;
}

.toggle-list li:hover, .toggle-list a li:hover, .toggle-list li:hover i,.toggle-list li:hover span {
    background-color: #aaaaaa;
}

.toggle-list hr {
    border: none;
    border-top: 1px solid #aaaaaa;
    margin: 8px 0;
}

/* 검색창 */

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .search-bar {
    width: 400px;
    height: 40px;
    border: 1px solid #5D5D5D;
    border-radius: 20px 0 0 20px;
    /*position: absolute;*/
    display: flex;
    align-items: center;
    overflow: hidden;
    /*left: 400px;*/
    top: 6px;
}

.search-bar input {
    width: 85%;
    height: 30px;
    margin: 4px 0 0 20px;
    background-color: #121212;
    border: none;
    color: white;
    outline: none;
}

.search-button {
    width: 70px;
    height: 40px;
    border: 1px solid #5D5D5D;
    border-radius: 0 20px 20px 0;
    padding: 5px 5px 5px 15px;
    background-color: #333333;
    /*position: absolute;*/
    /*left: 63%;*/
    /*left: 799px;*/
    top: 6px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button  > a > img {
    /*position: absolute;*/
    width: 30px;
    height: 30px;
    background-color: #333333;
}

/* 보이스 검색 버튼 */
.search-voice {
    /*position: absolute;*/
    background-color: #333333;
    border: none;
    border-radius: 50%;
    padding: 8px 8px 8px 10px;
    margin-left: 10px;
}

.search-voice a {
    background-color: #333333;
}

.search-voice a i {
    width: 30px;
    height: 25px;
    color: white;
    font-size: 1.3rem;
    padding: 4px 0 0 6px;
    background-color: #333333;
}

.search-voice:hover, .search-voice:hover a, .search-voice:hover a i{
    background-color: #5D5D5D;
}

.make-button {
    position: absolute;
    background-color: #333333;
    border: none;
    border-radius: 24px;
    padding: 8px 12px 8px 12px;
    right: 140px;
    top: 18px;
}

.make-button:hover, .make-button:hover a, .make-button:hover a span {
    background-color: #5D5D5D;
}

.make-button a {
    background-color: #333333;
    text-decoration: none;
    color: white;
}

.make-button a span{
    background-color: #333333;
}

.alert-button {
    position: absolute;
    background-color: #121212;
    border: none;
    border-radius: 50%;
    padding: 10px 8px 8px 10px;
    right: 75px;
}

.alert-button:hover, .alert-button:hover a, .alert-button:hover a i {
    background-color: #5D5D5D;
}

.alert-button a {
    background-color: #121212;
}

.alert-button a i {
    width: 30px;
    height: 25px;
    color: white;
    font-size: 1.3rem;
    padding: 10px 0 0 6px;
    background-color: #121212;
}

.user-profile {
    position: absolute;
    background-color: cornflowerblue;
    border: none;
    border-radius: 50%;
    margin-top: 5px;
    padding: 4px 10px 4px 10px;
    right: 30px;
}

.user-profile a {
    background-color: cornflowerblue;
}

.user-profile a i {
    color: white;
    font-size: 1.0rem;
    background-color: cornflowerblue;
}

/* 프로필 토글 바 */
.user-menu-bar {
    display: none;
    position: absolute;
    width: 300px;
    right: 15px;
    top: 60px;
    z-index: 999;  /* 화면에 보여질 때 가장 위에 있게 */
    overflow: hidden;
    border-radius: 8px;
}

.user-menu-bar hr {
    border: none;
    border-top: 1px solid #aaaaaa;
    margin: 10px 0;
}

.user-profile-content hr {
    border: none;
    border-top: 1px solid #aaaaaa;
    margin-left: -20px;
}

.user-menu-bar,
.user-info,
.user-info div,
.user-info div a,
.user-menu,
.user-menu-profile,
.user-menu-bar hr,
.user-menu-bar p,
.user-menu-bar p a,
.profile-bar-section,
.user-profile-content a li strong,
.user-profile-content a li .profile-bar-item {
    background-color: #2c2c2c;
}

/* 프로필 토글 바 => user info 구역 */
.user-menu {
    display: flex;
    margin: 10px 0 0 20px;
}

.user-profile.info {
    position: static;
    color: white;
    font-size: 1.3rem;
    padding: 10px 12px 10px 12px;
    background-color: cornflowerblue;
}

.user-menu .user-info {
    flex: 1;
    margin: 6px 0 0 10px;
    color: white;
}

.user-info div .user-channel {
    color: dodgerblue;
    text-decoration: none;
    font-size: 14px;
}

/* 프로필 토글 바 => content list 구역 */
.profile-bar-section {
    display: flex;
}

.profile-bar-section:hover,
.profile-bar-section:hover .profile-bar-logo,
.profile-bar-section:hover .profile-bar-logo strong,
.profile-bar-section:hover .profile-bar-logo i,
.profile-bar-section:hover .profile-bar-item {
    background-color: #aaaaaa;
}

.user-profile-content {
    list-style: none;
    padding: 0;
    background-color: #2c2c2c;
}

.user-profile-content a {
    text-decoration: none;
    color: white;
}

.user-profile-content a .profile-bar-section {
    text-decoration: none;
    text-indent: 10px;
    padding: 15px 0;
    color: white;
}

.profile-bar-logo {
    width: 25px;
    height: 25px;
    background-color: #2c2c2c;
}

.profile-bar-logo > i {
    padding-top: 6px;
    background-color: #2c2c2c;
    font-size: 20px;
}

.profile-bar-logo > strong {
    margin-left: 8px;
    font-size: 23px;
}

.profile-bar-item {
    flex: 1;
    margin: 4px 0 0 20px;
}

.user-menu-bar p  a strong {
    margin-right: 20px;
    color: white;
    font-size: 25px;
    background-color: #2c2c2c;
}

/* 검색창과 영상목록 사이에 컨텐츠 버튼 */

.container-fluid {
    margin-top: 60px;
    display: inline-block;
    text-align: center;
    background-color: #121212;
}

.content .btn-light {
    font-size: 14px;
    border: none;
}

.content .btn-secondary {
    border: none;
    font-size: 14px;
    background-color: #333333;
}

.content {
    transition: all 0.3s ease;
    margin-top: 15px;
}

.fixed-height-btn {
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 16px;
    white-space: nowrap;
}

/* 영상 목록 범위 */
.video-card {
    cursor: pointer;
}

.video-thumbnail {
    position: relative;
}

.card-img-top {
    border-radius: 8px;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 997;
    opacity: 0;
}

/*.video-card:hover {*/
/*    transform: scale(1.1);*/
/*    background: rgb(45, 45, 45);*/
/*    transition: 0.3s;*/
/*    transition-delay: 0.3s;*/
/*}*/

/* 썸네일에 마우스 올리면 썸네일을 숨김 */
.video-card:hover .card-img-top {
    opacity: 0;
    transition: 0.2s;
    transition-delay: 0.2s;
}

/* 썸네일에 마우스 올리면 iframe 을 보이게함 */
.video-card:hover .video-iframe {
    opacity: 1;
    transform: scale(1);
    background: rgb(45, 45, 45);
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

/* iframe 클릭 방지 해당 영상 상세페이지로 이동하기 위한 a 태그 ( iframe 위에 덮어쓰기 ) */
.video-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: transparent;
    cursor: pointer;
}

.row > div {
    margin-bottom: 15px;
}

.video-array-container {
    background-color: #121212;
    padding: 20px;
}

.video-array .row .col-8 .card a {
    text-decoration: none;
}
.col-8 .card {
    border: none;
    background-color: #121212;
}

.card > iframe {
    border-radius: 6px;
    overflow: hidden;
}

.card-text {
    font-size: 13px;
    margin: 0;
    line-height: 1;
    vertical-align: top;
}

.channel-logo-with-title .card-title {
    color: white;
    margin: 0;
    font-size: 15px;
}

.video-info-line {
    display: flex;
    margin: 10px 0;
}

.video-info-line img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
}

.channel-logo-with-title {
    flex: 1;
}

.card .video-info-line .card-text, .video-info-line p i {
    color: #5D5D5D;
}

@media (max-width: 1480px) {

    .logo-button > a {
        position: absolute;
        top: -6px;
        left: 50px;
    }

    .toggle-button {
        display: flex;
    }

    .toggle-list {
        left: -250px;
    }

    .toggle-list.active {
        left: 0;
    }

    .toggle-list.active .video-array {
        margin-left: 250px;
    }

    .toggle-button:hover {
        cursor: pointer;
    }

    .toggle-button .menu-bar {
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 2px;
        position: absolute;
        transition: .5s;
    }

    .toggle-button .menu-bar-top {
        top: 0;
    }

    .toggle-button .menu-bar-middle {
        top: 50%;
        transform: translateY(-50%);
    }

    .toggle-button .menu-bar-bottom {
        bottom: 0;
    }

    .toggle-button.active .menu-bar-top {
        transform: rotate(45deg);
        top: 50%;
    }

    .toggle-button.active .menu-bar-middle {
        transform: translate(-230px);
        opacity: 0;
        transition: all .1s ease-in;
    }

    .toggle-button.active .menu-bar-bottom {
        transform: rotate(-45deg);
        top: 50%;
    }
}