* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}

.main-video .card {
    width: 800px;
    height: 600px;
}

iframe {
    width: 800px;
    height: 450px;
    border: none;
    overflow: hidden;
}

.main-video {
    padding: 100px 0 100px 0;
    background-color: black;
    border: none;
}

.youtube-logo > img {
    width: 40px;
    height: 40px;
}

.card-text {
    position: absolute;
    display: inline-flex;
    margin-left: 13px;
    margin-top: 2px;
}

.card-text > p {
    font-size: 12px;
}

.youtube-logo, .card-text {
    display: inline;
}

.card, .card-title, .card-text{
    border: none;
    border-radius: 16px;
    width: 700px;
    background-color: black;
}

.sub-btn {
    position: absolute;
    left: 130px;
    top: 5px;
}

.content-like-btn {
    position: absolute;
    margin-left: 435px;
    top: 5px;
    border: none;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    background-color: #333333;
}

.like-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.divider {
    position: absolute;
    left: 495px;
    width: 1px;
    height: 24px;
    top: 11px;
    background-color: #dddddd;
    z-index: 999;
}

.content-dislike-btn {
    position: absolute;
    margin-left: 495px;
    top: 5px;
    border: none;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    background-color: #333333;
}

.dislike-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.join-btn {
    color: white;
    background-color: #333333;
}

.join-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.subscribe-btn {
    color: black;
    background-color: white;
}

.subscribe-btn:hover {
    cursor: pointer;
    background-color: #aaaaaa;
}

.content-share-btn {
    position: absolute;
    margin-left: 570px;
    top: 5px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: #333333;
}

.share-btn {
    font-size: 16px;
    padding: 12px 12px 12px 10px;
}

.content-share-btn .share-btn i {
    font-size: 20px;
    padding: 8px 8px 8px 10px;
    color: white;
    background-color: #333333;
}

.share-btn, .share-btn i {
    color: white;
    border: none;
    background-color: #333333;
}

.share-btn:hover, .share-btn:hover i {
    cursor: pointer;
    background-color: #5D5D5D;
}

.more-content-btn {
    position: absolute;
    margin-left: 680px;
    padding: 7px 13px 7px 13px;
    top: 5px;
    border: none;
    border-radius: 25px;
    overflow: hidden;
    background-color: #333333;
}

.more-btn {
    color: white;
    background-color: #333333;
}

.more-content-btn:hover, .more-content-btn:hover i {
    cursor: pointer;
    background-color: #5D5D5D;
}

.like-btn, .dislike-btn {
    font-size: 20px;
    color: white;
    border: none;
    padding: 8px 20px 8px 20px;
    background-color: #333333;
}

.join-btn, .subscribe-btn {
    font-size: 14px;
    width: 60px;
    border: none;
    border-radius: 18px;
    padding: 8px;
    white-space: nowrap;
    margin-left: 5px;
}


