* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}
/* main 영상 */

.main-video .card {
    width: 50rem;
    height: 100%;
}

iframe {
    width: 800px;
    height: 450px;
    border: none;
    overflow: hidden;
}

.main-video {
    margin-left: 20px;
    padding: 100px 0 100px 0;
    background-color: black;
    border: none;
}

/* 영상 밑 태그 */
.youtube-logo > img {
    width: 40px;
    height: 40px;
}

.card-text {
    position: absolute;
    display: inline-flex;
    margin-left: 13px;
    margin-top: 2px;
}

.card-text > p {
    font-size: 12px;
}

.youtube-logo, .card-text {
    display: inline;
}

.card, .card-title, .card-text{
    border: none;
    border-radius: 16px;
    width: 700px;
    background-color: black;
}

/* 가입, 구독 버튼 */
.sub-btn {
    position: absolute;
    left: 130px;
    top: 5px;
}

.join-btn {
    color: white;
    background-color: #333333;
}

.join-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.subscribe-btn {
    color: black;
    background-color: white;
}

.subscribe-btn:hover {
    cursor: pointer;
    background-color: #aaaaaa;
}

.join-btn, .subscribe-btn {
    font-size: 14px;
    width: 60px;
    border: none;
    border-radius: 18px;
    padding: 8px;
    white-space: nowrap;
    margin-left: 5px;
}

/* 좋아요 싫어요 버튼 */
.content-like-btn {
    position: absolute;
    margin-left: 435px;
    top: 5px;
    border: none;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    background-color: #333333;
}

.like-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.divider {
    position: absolute;
    left: 495px;
    width: 1px;
    height: 24px;
    top: 11px;
    background-color: #dddddd;
    z-index: 999;
}

.content-dislike-btn {
    position: absolute;
    margin-left: 495px;
    top: 5px;
    border: none;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    background-color: #333333;
}

.dislike-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.like-btn, .dislike-btn {
    font-size: 20px;
    color: white;
    border: none;
    padding: 8px 20px 8px 20px;
    background-color: #333333;
}

/* 공유 버튼 */
.content-share-btn {
    position: absolute;
    margin-left: 570px;
    top: 5px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: #333333;
}

.share-btn {
    font-size: 16px;
    padding: 12px 12px 12px 10px;
}

.content-share-btn .share-btn i {
    font-size: 20px;
    padding: 8px 8px 8px 10px;
    color: white;
    background-color: #333333;
}

.share-btn, .share-btn i {
    color: white;
    border: none;
    background-color: #333333;
}

.share-btn:hover, .share-btn:hover i {
    cursor: pointer;
    background-color: #5D5D5D;
}

/* 더보기 버튼 */
.more-content-btn {
    position: absolute;
    margin-left: 680px;
    padding: 7px 13px 7px 13px;
    top: 5px;
    border: none;
    border-radius: 25px;
    overflow: hidden;
    background-color: #333333;
}

.more-btn {
    color: white;
    background-color: #333333;
}

.more-content-btn:hover, .more-content-btn:hover i {
    cursor: pointer;
    background-color: #5D5D5D;
}

/* 설명란 */
.description-container {
    display: inline-flex;
}

.description-container .description-text{
    width: 760px;
    border: none;
    border-radius: 6px;
    margin: 30px 0 10px 0;
    padding: 8px 12px 10px 12px;
    max-height: 73px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    cursor: pointer;
    position: relative;
}

.description-text.expanded {
    cursor: auto;
    max-height: 600px;
}

.description-text .advertising-inquiry {
    padding: 1px 4px 2px 4px;
    border: none;
    border-radius: 8px;
    background-color: #333333;
}

.description-text .advertising-inquiry img {
    width: 13px;
    height: 10px;
}

.description-container .description-text,
.description-container .description-text strong {
    font-size: 14px;
    color: white;
    background-color: #1e1e1e;
}

.description-container .description-text a {
    background-color: #1e1e1e;
}

.description-container .description-text p {
    color: lightslategray;
}

.description-container .description-text h4, .description-container .description-text p {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

.description-toggle-button {
    color: #5D5D5D;
    font-size: 15px;
    margin: 80px 0 0 350px;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    background-color: #1e1e1e;
}

.description-toggle-button.bottom-left {
    color: #5D5D5D;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 16px;
}

#toggle-less {
    display: none;
}

/* 설명란 안에 언급 인물 */
.profile-list {
    display: inline-flex;
}

.profile-list a p {
    color: white;
}

.profile-list a img {
    margin: 5px 15px 5px 0;
    border: none;
    border-radius: 8px;
}

/* 설명란 안에 스크립트 */
.show-script {
    width: 110px;
    padding: 10px;
    border: 1px solid #5D5D5D;
    border-radius: 20px;
    background-color: #1e1e1e;
}

/* 댓글 창 */
.reply-container {
    border: 2px solid red;  /* 테두리를 red 로 설정하고 틀 확인하면서 작업중 */
}

.reply-title {
    color: white;
    display: flex;
}

.reply-title h5 {
    margin-right: 50px;
}

.reply-title a {
    color: #C2C2C2;
    text-decoration: none;
}

.sort-by-icon {
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-right: 5px;
    position: relative;
}

.sort-by-icon span {
    display: block;
    height: 1px;
    background-color: #C2C2C2;
    border-radius: 2px;
    margin: 5px 0;
}

.sort-by-icon .line1 { width: 100%; }
.sort-by-icon .line2 { width: 70%; }
.sort-by-icon .line3 { width: 40%; }

/* 댓글창 프로필 */
.reply-text {
    display: flex;
}

.reply-user-profile {
    display: inline-flex;
    background-color: cornflowerblue;
    border: none;
    border-radius: 50%;
    padding: 8px 8px 8px 8px;
    right: 10px;
    margin: 15px 10px 25px 0;
}

.reply-user-profile a {
    background-color: cornflowerblue;
}

.reply-user-profile a i {
    width: 30px;
    height: 25px;
    color: white;
    font-size: 1.3rem;
    padding: 4px 0 0 6px;
    background-color: cornflowerblue;
}

.test1 {
    width: 100%;
}

.reply-input {
    margin: 12px 0 0 10px;
    width: 98%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #C2C2C2;
    transition: border-color 0.3s;
}

.reply-input.active {
    border-bottom: 2px solid #C2C2C2;
    outline: none;
    color: white;
}

.reply-actions {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-input.active .reply-actions {
    display: inline-block;
}

.emoji-button {
    margin-left: 20px;
    cursor: pointer;
}

.action-buttons {
    align-items: center;
}

.cancel-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 16px;
    margin-right: 15px;
}

.cancel-button:hover {
    background-color: #333;
    font-size: 14px;
    padding: 6px 16px;
    border: none;
    border-radius: 20px;
    margin-right: 15px;
}

.submit-button {
    background-color: #333;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    color: #aaa;
}

