html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
}

.main-video {
    display: flex;
    height: 100%;
    margin: 0 0 0 30px;
    padding: 80px 0 0 0;
    background-color: #121212;
    border: none;
}

.main-video-block {
    width: 50rem;
    height: 100%;
}

iframe {
    width: 800px;
    height: 450px;
    border: none;
    border-radius: 16px;
    overflow: hidden;
}

.video-page-title {
    margin-top: 10px;
}

.video-page-title > #videoTitle {
    color: white;
}

.video-page-body {
    display: flex;
    margin-top: 15px;
    height: 40px;
}

.description-container {
    width: 100%;
}

.youtube-logo img {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.channel-info {
    width: 150px;
    margin-left: 10px;
}

.channel-info #channelName {
    color: white;
}

.channel-info #subscriberCount {
    color: #5D5D5D;
    font-size: 12px;
}

.channel-info #channelName, .channel-info #subscriberCount {
    width: 100px;
}

/* 가입, 구독 버튼 */
.sub-btn {
    display: flex;
    margin-left: 20px;
}

.join-btn {
    color: white;
    background-color: #333333;
}

.join-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.subscribe-btn {
    color: black;
    background-color: white;
}

.subscribe-btn:hover {
    cursor: pointer;
    background-color: #aaaaaa;
}

.join-btn, .subscribe-btn {
    font-size: 13px;
    width: 60px;
    border: none;
    border-radius: 20px;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: 5px;
}

/* 좋아요 싫어요 버튼 */
.content-like-btn {
    display: flex;
    margin-left: 130px;
    width: 80px;
    border: none;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    background-color: #333333;
}

.content-like-btn:hover, .content-like-btn:hover .like-btn, .content-like-btn:hover .like-cnt{
    cursor: pointer;
    background-color: #5D5D5D;
}

.like-cnt {
    font-size: 15px;
    padding: 8px 0 0 2px;
    color: white;
    background-color: #333333;
}

.like-btn {
    font-size: 20px;
    color: white;
    border: none;
    padding: 8px 10px 8px 12px;
    background-color: #333333;
}

/* 좋아요 버튼과 싫어요 버튼 중간 막대기 */
.divider {
    width: 0.1px;
    height: 30px;
    margin: 4.5px 0;
    background-color: #5D5D5D;
    z-index: 998;
}

/* 싫어요 버튼 */
.content-dislike-btn {
    margin-left: -1px;
    border: none;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    background-color: #333333;
}

.dislike-btn:hover {
    cursor: pointer;
    background-color: #5D5D5D;
}

.dislike-btn {
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: #333333;
}

/* 공유 버튼 */
.content-share-btn {
    margin-left: auto;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: #333333;
}

.share-btn {
    font-size: 16px;
    padding: 12px 12px 12px 10px;
}

.content-share-btn .share-btn i {
    font-size: 20px;
    padding: 8px 8px 8px 10px;
    color: white;
    background-color: #333333;
}

.share-btn, .share-btn i {
    color: white;
    border: none;
    background-color: #333333;
}

.share-btn:hover, .share-btn:hover i {
    cursor: pointer;
    background-color: #5D5D5D;
}

/* 더보기 버튼 */
.more-content-btn {
    margin-left: auto;
    padding: 7px 13px 7px 13px;
    border: none;
    border-radius: 25px;
    overflow: hidden;
    background-color: #333333;
}

.more-btn {
    color: white;
    background-color: #333333;
}

.more-content-btn:hover, .more-content-btn:hover i {
    cursor: pointer;
    background-color: #5D5D5D;
}

/* 설명란 */
.description-container .description-text {
    font-size: 14px;
    border: none;
    border-radius: 8px;
    margin: 20px 0 10px 0;
    padding: 10px 14px 10px 14px;
    max-height: 75px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: white;
    background-color: #1e1e1e;
}

.view-and-date {
    background-color: #1e1e1e;
    color: white;
}

.join-membership {
    display: inline-flex;
    padding: 1px 4px 2px 4px;
    border: none;
    border-radius: 12px;
    background-color: #5D5D5D;
    overflow: hidden;
}

.yt-logo-sm {
    margin-top: 5px;
    margin-right: 5px;
    width: 15px;
    height: 10px;
    background-color: #5D5D5D;
}

.membership-tag {
    background-color: #5D5D5D;
}

.advertising-inquiry {
    background-color: #1e1e1e;
}

/* 언급된 인물 등등 */
.sub-title-1 {
    margin-bottom: 0;
    background-color: #1e1e1e;
    font-weight: bold;
}

.sub-title-1.people {
    margin-top: 0;
    color: #aaaaaa;
    font-size: 13px;
    font-weight: normal;
}

.people-list {
    display: flex;
    margin-top: 5px;
    background-color: #1e1e1e;
}

.person-frame {
    margin: 0 15px 5px 0;
    background-color: #1e1e1e;
}

.person-link img {
    border: none;
    border-radius: 10px;
}

.person-name {
    margin-top: 5px;
    background-color: #1e1e1e;
}

/* 팟캐스트 */
.content-frame {
    margin-bottom: 30px;
    background-color: #1e1e1e;
}

.content-link img {
    border: none;
    border-radius: 10px;
}

/* 스크립트 등등 */
.sub-title-2 {
    font-weight: bold;
    padding-bottom: 10px;
    background-color: #1e1e1e;
}

.sub-title-2.st-script-text {
    color: #aaaaaa;
    font-weight: normal;
    background-color: #1e1e1e;
    padding-bottom: 0;
}

.sub-title-2.st-script-btn  {
    padding-top: 15px;
    padding-bottom: 0;
}

.sub-title-2.st-script-btn a {
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    color: dodgerblue;
    font-weight: normal;
    padding: 10px 14px 10px 14px;
    background-color: #1e1e1e;
}

/* 설명란 더보기 버튼 */
/*.description-toggle-button {*/
/*    color: #5D5D5D;*/
/*    font-size: 15px;*/
/*    padding: 0;*/
/*    cursor: pointer;*/
/*    background-color: #1e1e1e;*/
/*}*/

.description-toggle-button {
    color: #5D5D5D;
    font-size: 15px;
    margin: 20px 0 0 280px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    background-color: #1e1e1e;
}

.description-toggle-button strong {
    background-color: #1e1e1e;
}

.description-toggle-button.bottom-left {
    color: #5D5D5D;
    position: static;
    display: block;
    margin: 40px 0 0 0;
    padding: 0;
}

/* a Tag Color */
.tag-title, .text-head {
    background-color: #1e1e1e;
    font-size: 14px;
    font-weight: lighter;
    font-family: Arial, sans-serif;
}

.tag-color {
    margin-right: 5px;
    color: dodgerblue;
    background-color: #1e1e1e;
}

.tag-color.gray {
    color: #aaaaaa;
}

/* 오른쪽 영상 리스트 */
.right-video-sidebar {
    margin: 0 10px;
    max-height: 100vh;
    padding: 0 10px 10px 10px;
    background-color: #121212;
    color: white;
}

.category-bar {
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #121212;
    padding: 0 10px 10px 0;
}

.category-scroll {
    display: flex;
    background-color: #121212;
    gap: 8px;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}
.category-scroll::-webkit-scrollbar {
    display: none; /* Chrome */
}

.category-button {
    padding: 6px 12px;
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
}

.right-video-item {
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
}

.thumbnail {
    width: 168px;
    height: 94px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 12px;
}

.right-video-info {
    flex: 1;
}

.right-video-title {
    font-size: 15px;
    margin-bottom: 6px;
    line-height: 1.3;
}

.right-video-channel {
    font-size: 13px;
    color: #aaa;
}

.right-video-channel, .right-video-views {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #aaa;
}

.category-button:hover, .category-button:hover strong {
    background-color: #5D5D5D;
}

.category-button strong {
    background-color: #2c2c2c;
}

.category-button.active {
    background-color: white;
    color: #2c2c2c;
}

.category-button.active:hover {
    background-color: #C2C2C2;
}

.category-fade-out {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(to left, #121212, transparent);
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*pointer-events: none;*/
}

.arrow {
    margin-left: 30px;
    font-size: 24px;
    color: white;
}

/* 댓글 창 */
.reply-container {
    /*border: 2px solid red;  !* 테두리를 red 로 설정하고 틀 확인하면서 작업중 *!*/
    width: 100%;
    border: none;
}

.reply-title-frame {
    color: white;
    display: flex;
    margin: 15px 0 10px 0;
}

.reply-title-frame h5 {
    margin-right: 50px;
}

.reply-title-frame a {
    color: #C2C2C2;
    text-decoration: none;
}

.sort-by-icon {
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-right: 5px;
    position: relative;
}

.sort-by-icon span {
    display: block;
    height: 1px;
    background-color: #C2C2C2;
    border-radius: 2px;
    margin: 5px 0;
}

.sort-by-icon .line1 { width: 100%; }
.sort-by-icon .line2 { width: 70%; }
.sort-by-icon .line3 { width: 40%; }

/* 댓글창 프로필 */
.reply-text {
    display: flex;
    margin-bottom: 40px;
}

.reply-user-profile {
    margin: 0;
    padding: 0;
    height: 45px;
}

.reply-user-profile a {
    background-color: cornflowerblue;
    display: inline-flex;
    border: none;
    padding: 8px 8px 12px 8px;
    border-radius: 50%;
    right: 10px;
}

.reply-user-profile a i {
    width: 30px;
    height: 25px;
    color: white;
    border-radius: 50%;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 3px;
    background-color: cornflowerblue;
}

.reply-input-box {
    margin-left: 10px;
    width: 100%;
}

.reply-input {
    margin: 12px 0 0 10px;
    width: 98%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #C2C2C2;
    transition: border-color 0.3s;
}

.reply-input.active {
    border-bottom: 2px solid #C2C2C2;
    outline: none;
    color: white;
}

.reply-input.active .reply-actions {
    display: flex;
}

.reply-actions {
    padding: 5px 0;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.emoji-button {
    margin-left: 20px;
    cursor: pointer;
}

.action-buttons {
    align-items: center;
}

.cancel-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 16px;
    margin-right: 15px;
}

.cancel-button:hover {
    background-color: #333;
    font-size: 14px;
    padding: 6px 16px;
    border: none;
    border-radius: 20px;
    margin-right: 15px;
}

.submit-button {
    background-color: #333;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    color: #aaa;
}

/* 댓글 창에 문자가 입력되어 있을 때 댓글달기 버튼 활성화 */
.submit-button.enabled {
    cursor: pointer;
    background-color: deepskyblue;
    color: black;
}

.submit-button.enabled:hover {
    background-color: lightskyblue;
}

/* 댓글 리스트 */
.reply-list-box {
    /*border: 1px solid chartreuse;*/ /* Test 위한 테두리 설정 */
    border: none;
    display: flex;
    flex-wrap: wrap;
}

/* user1 */
.reply-user-profile.user1 a {
    right: 10px;
    margin: 0;
    padding: 0;
}

.reply-user-profile.user1 a img {  /* 원래 img 가 아니라 i 였음*/
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    color: white;
}

/* user2 */
.reply-user-profile.user2 a {
    right: 10px;
    margin: 0;
    padding: 0;
}

.reply-user-profile.user2 a img {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    color: white;
}

/* user3 */
.reply-user-profile.user3 a {
    background-color: darkorange;
    border: none;
    border-radius: 50%;
    padding: 8px 8px 12px 8px;
    right: 10px;
    margin: 0 10px 0 0;
}

.reply-user-profile.user3 a i {
    width: 30px;
    height: 25px;
    color: white;
    font-size: 1.3rem;
    padding: 4px 0 0 6px;
    background-color: darkorange;
}

.each-reply {
    width: 90%;
    margin-left: 20px;
    height: 100%;
}

.each-reply .each-user-name {
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.each-reply .reply-date {
    color: #5D5D5D;
    font-size: 12px;
    font-weight: normal;
}

.each-reply .each-reply-text {
    color: white;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: lighter;
    font-family: Arial, sans-serif;
}

.reply-like-box {
    width: 90%;
    /*border: 1px solid dodgerblue;*/ /* Test 위한 테두리 설정 */
    border: none;
    margin-left: 60px;
    display: flex;
    gap: 5px;
}

.reply-like-cnt {
    font-size: 13px;
    color: #5D5D5D;
    margin-top: 8px;
    padding: 0;
}

.reply-dislike-btn-box {
    margin-left: 10px;
}

.reply-like-btn, .reply-dislike-btn {
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 7px;
}

.reply-btn-box {
    margin-left: 6px;
    margin-top: 3px;
}

.reply-btn-box .reply-btn {
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 18px;
    margin: 0;
    padding: 6px 10px 4px 10px;
}

.reply-btn-box .reply-btn:hover {
    background-color: #5D5D5D;
}

.reply-like-btn:hover , .reply-dislike-btn:hover {
    background-color: #5D5D5D;
}

/* 대댓글 창 */
.more-reply-list {
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
}

.more-reply-list a {
    font-size: 15px;
}

.more-reply-list-1 {
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
}

.more-reply-list-1 a {
    font-size: 15px;
}

.more-reply-list-2 {
    margin-top: 10px;
    margin-left: 75px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
}

.more-reply-list-2 a {
    font-size: 15px;
}


/* 댓글에 댓글달기 버튼 */
.re-reply-user-profile {
    display: inline-flex;
    background-color: cornflowerblue;
    border: none;
    border-radius: 50%;
    padding: 8px 8px 8px 8px;
    right: 10px;
    margin: 10px 10px 0 0;
}

.re-reply-user-profile a {
    background-color: cornflowerblue;
}

.re-reply-user-profile a i {
    width: 30px;
    height: 25px;
    color: white;
    font-size: 1.3rem;
    padding: 4px 0 0 6px;
    background-color: cornflowerblue;
}

.re-reply-input-box {
    display: none;
    flex-wrap: wrap;
    /*border: 3px solid tomato;*/  /* Test 위한 테두리 설정 */
    border: none;
    margin-left: 75px;
    width: 100%;
}

.re-reply-input {
    margin: 12px 0 0 10px;
    width: 90%;
    height: 25px;
    border: none;
    border-bottom: 2px solid #C2C2C2;
    outline: none;
    color: white;
    transition: border-color 0.3s;
}

.re-reply-actions {
    margin-left: 70px;
    margin-bottom: 10px;
}

.re-reply-actions .re-emoji-button {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.re-action-buttons {
    display: inline-block;
    margin-left: 440px;
}
